extends base
block append head 
    link(rel="stylesheet", href="style.css")


block content
    <section class="home" id="home">
        <div class="image">
            <img src="cake2.jpg" alt="">
        </div>
        <div class="content">
            <h3> Most Tasty Pizza For You</h3>
            <p> Sitting at home and choose your favourite food, we will give you the best service in the world!</p>
            <a href="" class="btn">Order Now</a>
        </div>
    </section>

    #Menu.menu.contain-req(data-path = `${req.path}` data-query = `${JSON.stringify(req.query)}`)
        <h1> Our<span>Menu</span></h1>
        .row.align-items-center.border.border-light
            h3.col-xl-2.col-3 Sắp xếp theo 
            .col-xl-10.col-9(class="btn-group" role="group" aria-label="Button group")
                a(href = '/'): button(type="button" class="btn btn-light m-1") Mặc định
                a: button(type="button" class="avail btn btn-light m-1" ) Còn hàng
                a: button(type="button" class="desPrice btn btn-light m-1" ) Giá giảm dần
                a: button(type="button" class="ascPrice btn btn-light m-1" ) Giá tăng dần
                a(href='/best-seller'): button.d-none.d-sm-block(type="button" class="desRate btn btn-light m-1" ) Best Sellers
        .row.align-items-center.d-none.d-sm-block
            h3.col-xl-2 Food type
            .col-xl-10(class="btn-group" role="group" aria-label="Button group")
                button( data-foodtype='Cake' type="button" class="foodType-filter btn btn-light m-1" ) Cake
                button( data-foodtype='Drink & Dessert' type="button" class="foodType-filter btn btn-light m-1") Drink & Dessert
                button( data-foodtype='Noodle' type="button" class="foodType-filter btn btn-light m-1") Noodle
                button( data-foodtype='Light Snack' type="button" class="foodType-filter btn btn-light m-1") Light Snack
                button( data-foodtype='Foreign Food' type="button" class="foodType-filter btn btn-light m-1") Foreign Food
        .menu_box
            if products.length == 0
                h5 KHong co san pham phu hop
            else 
                each product in products
                    .menu_card
                        a.menu_image(href=`/${product.item_id}`)
                            img(src=`/images/${product.image}`)
                        .small_card
                            i.fa-solid.fa-heart
                        .menu_info
                            h2= product.item_name
                            h3= product.old_price
                            h3= product.discount 
                            h3= product.new_price
                            h3 #{product.item_status? 'Còn hàng': 'Liên hệ'}
                            - let star = 0
                            while ++star <= product.rate
                                i.fa-solid.fa-star.text-warning
                            while star++ <=5 
                                i.fa-solid.fa-star.text-secondary
                            .menu_icon
                                
                            a.menu_btn(href=`/${product.item_id}`) Order Now
    </div>
    if products.length > 0
        .d-flex.justify-content-center.bg-white.py-3
            if pageNum > 1
                button.btn.btn-light.paginationBtn(data-page=`${page-1}`) Trước  
            button.btn.btn-light.paginationBtn(data-page=`${page+1}`) Tiếp 

    //- ----- galery section ---------

    <div class="gallary" id="Gallary">
        <h1>Our<span>Gallary</span></h1>

        <div class="gallary_image_box">
            <div class="gallary_image">
                <img src="cake.jpg">

                <h3>Food</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi sint eveniet laboriosam 
                </p>
                <a href="#" class="gallary_btn">Order Now</a>
            </div>

            <div class="gallary_image">
                <img src="cake.jpg">

                <h3>Food</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi sint eveniet laboriosam 
                </p>
                <a href="#" class="gallary_btn">Order Now</a>
            </div>

            <div class="gallary_image">
                <img src="cake.jpg">

                <h3>Food</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi sint eveniet laboriosam 
                </p>
                <a href="#" class="gallary_btn">Order Now</a>
            </div>

            <div class="gallary_image">
                <img src="cake.jpg">

                <h3>Food</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi sint eveniet laboriosam 
                </p>
                <a href="#" class="gallary_btn">Order Now</a>
            </div>

            <div class="gallary_image">
                <img src="cake.jpg">

                <h3>Food</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi sint eveniet laboriosam 
                </p>
                <a href="#" class="gallary_btn">Order Now</a>
            </div>

            <div class="gallary_image">
                <img src="cake.jpg">

                <h3>Food</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi sint eveniet laboriosam 
                </p>
                <a href="#" class="gallary_btn">Order Now</a>
            </div>

        </div>

    </div>

    //-  ABOUT US


    <div class="about" id="About">
        <div class="about_main">

            <div class="image">
                <img src="pizza.jpg">
            </div>

            <div class="about_text">
                <h1><span>About</span>Us</h1>
                <h3>Why Choose us?</h3>
                <p> Comment here </p> 
            </div>

        </div>

        <a href="#" class="about_btn">Order Now</a>
    </div>

    //- <!--Team-->

    <div class="team">
        <h1>Our<span>Team</span></h1>

        <div class="team_box">
            <div class="profile">
                <img src="image/chef1.png">

                <div class="info">
                    <h2 class="name">Chef</h2>
                    <p class="bio">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                    <div class="team_icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>

                </div>

            </div>

            <div class="profile">
                <img src="image/chef2.png">

                <div class="info">
                    <h2 class="name">Chef</h2>
                    <p class="bio">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                    <div class="team_icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>

                </div>

            </div>

            <div class="profile">
                <img src="image/chef3.jpg">

                <div class="info">
                    <h2 class="name">Chef</h2>
                    <p class="bio">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                    <div class="team_icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>

                </div>

            </div>

            <div class="profile">
                <img src="image/chef4.jpg">

                <div class="info">
                    <h2 class="name">Chef</h2>
                    <p class="bio">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                    <div class="team_icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>

                </div>

            </div>

        </div>

    </div>


    

    


    



block append script
    script(src="js/filter.mjs")  

